
{% block title %}{% endblock %}

{% block stylesheets %}
		<link rel="stylesheet" type="text/css" href="{{asset('css/style1.css')}}">
                <link rel="stylesheet" type="text/css" href="{{asset('css/vendors/bootstrap.css')}}">
                <!-- Script for fontawesome 4.7 or 5 -->
           <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet"/>
           <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>


{% endblock %}

{% block body %}
			<!-- Footer -->
		<footer>
        	<div class="footer">
        		<div class="container">
        			<div class="row">
        				<div class="col-md-3 col-sm-6 col-xs-12 segment-one">
        					<h3>E<span>as</span><span></span>y W<span>or</span>k </h3>
        					<p> Un système de gestion de tickets est un logiciel qui organise les requêtes des clients. Les requêtes, souvent appelées tickets, sont organisées en fonction de l'importance ou des règles.</p>
        				</div>

        				<div class="col-md-3 col-sm-6 col-xs-12 segment-two">
        					<h2>Plus d'infos</h2>
        					<ul>
        						<li><a href="#">Salle de presse</a></li>
        						<li><a href="#">Pourquoi gratuit ?</a></li>
        						<li><a href="#">Application mobile</a></li>
        						<li><a href="#">Nos références</a></li>
        						<li><a href="#">Questions fréquentes</a></li>
        					</ul>	
        				</div>

        				<div class="col-md-3 col-sm-6 col-xs-12 segment-three">
        					<h2>SUIVEZ-NOUS</h2>
        					<p>Suivez-nous sur les réseaux sociaux ! retrouvez-nous sur Facebook, Twitter et Instagram pour suivre toutes nos actus, N'hésitez pas à partager, liker et échanger !</p>
        					<a href="www.facebook.com"><i class="fa fa-facebook"></i></a>
	        				<a href="#"><i class="fa fa-instagram"></i></a>
	        				<a href="#"><i class="fa fa-twitter"></i></a>
	        				<a href="#"><i class="fa fa-youtube"></i></a>

        				</div>

        				<div class="col-md-3 col-sm-6 col-xs-12 segment-four">

        					<h2>Contact</h2>
        					<p>Adress:Sousse-Tunisie</p>
        					<p>Phone : 216 29 732 742</p>
        					<p>Mail :saifmsk49@gmail.com</p>
        				</div>

        			</div>
        		</div>
        	</div>
        	<p class="footer-bottom-text">Developer by Razgallah Saif Eddine &copy;2020</p>

        </footer>

		<!-- /Footer -->

{% endblock %}

{% block javascripts %}

{% endblock %}	